<div *ngIf="!version; else version2">
  <mat-toolbar color="primary">
    <mat-icon>local_fire_department</mat-icon>
    <span>Kanban Fire</span>
  </mat-toolbar>

  <div class="content-wrapper">
    <button (click)="newTask()" mat-button>
      <mat-icon>add</mat-icon> Add Task
    </button>
    <div class="container-wrapper">
      <div class="container">
        <h2>Backlog</h2>

        <mat-card
          cdkDropList
          id="todo"
          #todoList="cdkDropList"
          [cdkDropListData]="todo"
          [cdkDropListConnectedTo]="[doneList, inProgressList]"
          (cdkDropListDropped)="drop($event)"
          class="list"
        >
          <p class="empty-label" *ngIf="todo.length === 0">Empty list</p>
          <app-task
            (edit)="editTask('todo', $event)"
            *ngFor="let task of todo"
            cdkDrag
            [task]="task"
          ></app-task>
        </mat-card>
      </div>

      <div class="container">
        <h2>In progress</h2>

        <mat-card
          cdkDropList
          id="inProgress"
          #inProgressList="cdkDropList"
          [cdkDropListData]="inProgress"
          [cdkDropListConnectedTo]="[todoList, doneList]"
          (cdkDropListDropped)="drop($event)"
          class="list"
        >
          <p class="empty-label" *ngIf="inProgress.length === 0">Empty list</p>
          <app-task
            (edit)="editTask('inProgress', $event)"
            *ngFor="let task of inProgress"
            cdkDrag
            [task]="task"
          ></app-task>
        </mat-card>
      </div>

      <div class="container">
        <h2>Done</h2>

        <mat-card
          cdkDropList
          id="done"
          #doneList="cdkDropList"
          [cdkDropListData]="done"
          [cdkDropListConnectedTo]="[todoList, inProgressList]"
          (cdkDropListDropped)="drop($event)"
          class="list"
        >
          <p class="empty-label" *ngIf="done.length === 0">Empty list</p>
          <app-task
            (edit)="editTask('done', $event)"
            *ngFor="let task of done"
            cdkDrag
            [task]="task"
          ></app-task>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<ng-template #version2>
  <app-my-practise></app-my-practise>
</ng-template>

<h1 class="pt-10">For Version Changing</h1>
<div class="btn-group">
  <button id="version1" class="btn btn-active" (click)="changeVersion(true)">
    Version 2
  </button>
  <button id="version2" class="btn" (click)="changeVersion(false)">
    Version 1
  </button>
</div>
